@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-dash bg-cover bg-no-repeat text-gray-900 h-[100vh];
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.tw_container {
  @apply pt-[5rem] pr-[1rem] pl-[1rem] h-[100vh]
  /* debug: bg-pink-300 bg-opacity-50 */
}

/* ### TABLES ### */
.tw_table {
  @apply table-auto border-separate rounded-t-lg w-[100%]
}
.tw_table thead {
  @apply bg-slate-500 text-white
}
.tw_table tbody {
  @apply bg-slate-200
}
.tw_table th, td {
  @apply text-center p-2 overflow-hidden leading-none
}

.tw_table td {
  @apply transition-colors ease-in-out delay-75
  hover:bg-slate-100
}

.tw_tableoptions {
  @apply mt-4 
}

/* ### LOADING SPINNER ### */
.tw_loader {
  @apply animate-spin
  rounded-[50%] w-[50px] h-[50px]
  border-t-[10px] border-t-accent
  border-[10px] border-solid border-gray-200 
}
/* ### NAVIGATION BAR ### */
.tw_navbar {
  @apply z-[99] fixed top-0 h-[4rem] w-full
  bg-gray-100 font-bold border-b border-b-gray-200
}
.tw_navbar div {
  @apply m-0 p-0 flex items-center justify-between h-full 
}
.tw_navbar button {
  @apply rounded py-2 px-4 ml-4 bg-accent hover:bg-accent_hover transition-colors text-white min-h-[2rem] items-center max-h-[3rem] cursor-pointer last:mr-4
}